@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    background-color: #00be8e;
}

.container {
    display: flex;
    height: 89vh;
    background-color: #dddcdc;
}

.container-text {
    padding: 16px;
    width: 35%;
    box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.25);
    background-color: #ececec;
    z-index: 1;
}

.container-text h2 {
    border-left: 3px solid #1dd973;
    padding-left: 10px;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #252525;
}

.container-text ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}

.container-text ul a {
    width: 70%;
    padding: 20px;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-bottom: 3.75rem;
    margin-left: -25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 5px;
    color: #1dd973;
    box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.25);
}

#icon {
    margin-right: 3%;
}

.container-text ul a:hover {
    border: 2px solid #1dd973;
    transition: all 0.5s ease 0s;
}

.container-text ul p {
    color: transparent;
    width: 65%;
    font-size: 18px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
    cursor: default;
}

.container-text ul a:hover + p {
    color: #1dd973;
    transition: all 0.75s ease 0s;
}

.container-img {
    width: 65%;
    padding: 20px;
    display: flex;
    text-align: center;
    background-image: linear-gradient(
        to right top,
        #1dd973,
        #00cc85,
        #00be91,
        #00b098,
        #00a198
    );
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.box {
    margin-left: 5%;
    width: 60%;
    height: 65%;
    margin-top: 12.5%;
    background-color: #000;
    border-radius: 12px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

.box img {
    width: 100px;
}

.box p {
    color: #1dd973;
    margin-top: -20px;
    font-size: 24px;
    font-weight: 300;
}

#logo {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-top: 25%;
    margin-left: 5%;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}
